.carousel {
  .carousel-indicators {
    div {
      background-color: $primary;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      margin: 0 1rem;
      cursor: pointer;

      &.active {
        border-color: $warning;
      }
    }
  }
}

.object-fit-cover {
  object-fit: cover;
}

.object-position-top {
  object-position: top;
}

.embed-responsive,
.embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0;
}
