.carousel {
  .carousel-indicators {
    div {
      background-color: $primary;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      margin: 0 1rem;
      cursor: pointer;

      &.active {
        border-color: $warning;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .carousel {
    .embed-responsive::before {
      padding-top: 56.25%;
    }
  }
}

@include media-breakpoint-down(xs) {
  .carousel {
    .embed-responsive::before {
      padding-top: 75%;
    }
  }
}
