.ul,
.li {
  list-style-type: none;
  letter-spacing: 1rem;
  font-size: 2rem;
}

a:hover {
  text-decoration: none;
}

.follow {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.object-fit-cover {
  object-fit: cover;
}

.object-position-top {
  object-position: top;
}

h1 {
  text-transform: lowercase;
  font-weight: lighter;
  text-align: center;
}

.bubble {
  border-radius: 4rem;
  box-shadow: 2rem;
}

.blurb {
  font-weight: lighter;
}

.p {
  font-weight: lighter;
}

.label {
  align-self: center;
  margin: 3rem;
}

#pms-login {
  margin: 4rem;
}

.deal {
  box-shadow: 2rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.banner-title {
  z-index: 1;
  position: relative;
  bottom: 6rem;
}

.circle {
  border-radius: 50%;
  position: relative;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
