/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$primary: #ee6e53;
$success: #769e7b;
$warning: #eca36c;
$info: #4c7952;
$secondary: #f8ece2;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  warning: $warning,
  info: $info
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/** Hamburger icon */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 20px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: $primary;
$hamburger-types: (vortex);
