/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.wpcf7-text,
.wpcf7-textarea {
  @extend .form-control;

  &::placeholder {
    text-transform: capitalize;
    color: $light;
  }
}

.wpcf7-form-control-wrap {
  @extend .form-group;

  display: block;
  margin-bottom: 0;
}

div.wpcf7-response-output {
  @extend .alert;

  margin: 1rem 0 0 0;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  @extend .alert-danger;
}

div.wpcf7-mail-sent-ok {
  @extend .alert-warning;
}

.bg-primary span.wpcf7-not-valid-tip {
  color: rgb(214, 213, 213);
}

.customer-message,
#customerMessage {
  height: 100%;

  @include media-breakpoint-down(md) {
    height: 10rem;
  }
}

.pms-login {
  margin: 4rem;
  align-self: center;
}
